html {
  --color-white: #FFF;
  --color-black: #000;
  --color-font: #1D1D1D;
  --color-font-darkgray: #6E6E6E;
  --color-font-middlegray: #b7b7b7;
  --color-font-lightgray: #F5F5F5;
  --color-link: #0071E3;
  --color-link-focus: #81B9F1;
  --color-border: #D2D2D2;
  --color-header: #03CF5D;
  --color-section: #F5F5F5;
  --color-shadow: rgba(0, 0, 0, .4);
}
html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
body {
  color: var(--color-font);
  font-size: 16px;
  line-height: 1;
  word-break: keep-all;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  height: 2000px;
}
a {
  color: var(--color-font);
  text-decoration: none;
}
img {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}
p {
  line-height: 1.6;
}
/* For footnote */
sup {
  margin-right: 6px;
  font-size: .7em;
  vertical-align: top;
}
/* Inner */
.inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

@media (max-width: 1000px) {
  .inner {
    max-width: 692px;
  }
}


/* Btn */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 10px;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 11px;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-link);
  cursor: pointer;
}
.btn:hover {
  opacity: .7;
}
.btn:focus {
  box-shadow: 0 0 0 4px var(--color-link-focus);
}
.btn__square {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}

/* Background image text */
.bgtext {
  display: block;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


/* Links */
.links {
  display: flex;
  justify-content: center;
  gap: 40px;
}
a.link {
  color: var(--color-link);
  font-size: 19px;
  line-height: 1.3;
}
a.link:hover {
  text-decoration: underline;
}
a.link::after {
  content: " >";
}

@media (max-width: 740px) {
  .links {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  a.link {
    font-size: 17px;
  }
}


/* Feature */
.feature {
  display: flex;
}

@media (max-width: 740px) {
  .feature {
    flex-direction: column;
  }
}


/* Figures */
.figures {
  flex-grow: 1;
  position: relative;
}
.figures figure,
.figures figcaption {
  position: absolute;
  top: 0;
  left: 0;
}
.figures figcaption * {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 740px) {
  .figures {
    display: flex;
    justify-content: center;
  }
  .figures figure {
    position: relative;
  }
}


/* Infos */
.infos {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.infos.infos--center {
  justify-content: center;
}
.infos.infos--end {
  justify-content: flex-end;
}
.info {
  max-width: 330px;
  margin-bottom: 24px;
  transition: 1s;
  transform: translate(0, 100px);
  opacity: 0;
}
.info.show {
  transform: translate(0, 0);
  opacity: 1;
}
.infos--large .info {
  max-width: 410px;
}
.info .icon {
  width: 100px;
  height: 100px;
  margin: 0 0 -15px -30px;
  animation: sprite-icon 3s steps(1) infinite;
}
.info .icon.icon--chip         { background-image: url("../images/sprite_chip.png"); }
.info .icon.icon--faster       { background-image: url("../images/sprite_faster.png"); }
.info .icon.icon--neural       { background-image: url("../images/sprite_neural.png"); }
.info .icon.icon--apps         { background-image: url("../images/sprite_apps.png"); }
.info .icon.icon--battery      { background-image: url("../images/sprite_battery.png"); }
.info .icon.icon--display      { background-image: url("../images/sprite_display.png"); }
.info .icon.icon--true-tone    { background-image: url("../images/sprite_true_tone.png"); }
.info .icon.icon--center-stage { background-image: url("../images/sprite_center_stage.png"); }
.info .icon.icon--front-camera { background-image: url("../images/sprite_front_camera.png"); }
.info .icon.icon--back-camera  { background-image: url("../images/sprite_back_camera.png"); }
.info .icon.icon--scan         { background-image: url("../images/sprite_scan.png"); }
.info .icon.icon--download     { background-image: url("../images/sprite_download.png"); }
.info .icon.icon--wifi         { background-image: url("../images/sprite_wifi.png"); }
.info .icon.icon--lte          { background-image: url("../images/sprite_lte.png"); }
.info .icon.icon--pencil       { background-image: url("../images/sprite_pencil.png"); }
.info .icon.icon--keyboard     { background-image: url("../images/sprite_keyboard.png"); }
.info .icon.icon--notes        { background-image: url("../images/sprite_notes.png"); }
.info .icon.icon--covers       { background-image: url("../images/sprite_covers.png"); }
.info p {
  font-size: 21.5px;
  font-weight: 600;
  line-height: 1.5;
}
.info a.link {
  display: block;
  margin-top: 44px;
  font-size: 19.5px;
}
.info a:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .info {
    max-width: 230px;
  }
  .infos--large .info {
    max-width: 288px;
  }
  .info .icon {
    transform: scale(.8);
    margin: -30px 0 -24px -32px;
  }
  .info p {
    font-size: 19px;
    line-height: 1.4;
  }
  .info a.link {
    margin-top: 24px;
  }
}

@media (max-width: 740px) {
  .info {
    max-width: none;
    padding: 0 20px;
  }
  .infos--large .info {
    max-width: none;
  }
  .info a.link {
    font-size: 17px;
  }
}


/* WhiteBox */
.whitebox {
  max-width: 1386px;
  margin: 0 auto;
  padding: 100px 30px;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: var(--color-white);
}
.whitebox.whitebox--transparent {
  background-color: transparent;
}
.whitebox .icon {
  margin-bottom: 20px;
}
.whitebox h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.3;
}
.whitebox p {
  margin-top: 20px;
  font-size: 19px;
}
.whitebox a.link {
  display: block;
  margin-top: 26px;
}

@media (max-width: 1000px) {
  .whitebox {
    padding: 60px 30px;
  }
  .whitebox .icon {
    width: 44px;
  }
  .whitebox h1 {
    font-size: 36px;
  }
}

@media (max-width: 740px) {
  .whitebox p {
    font-size: 17px;
  }
}


/* Header */
header {
  --header-height: 44px;
  background-color: var(--color-header);
  position: relative;
  z-index: 9;
  transition: .4s;
}
header .inner {
  max-width: 1020px;
  height: var(--header-height);
}
header .mobile-layout {
  display: none;
}

/* Header / Menu */
header ul.menu {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
}
header ul.menu > li {
  display: flex;
  position: relative;
  cursor: pointer;
  transition: .4s;
}
header ul.menu > li.menu-starter {
  display: none;
}
header ul.menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 11px;
  color: var(--color-font-lightgray);
}
header ul.menu > li.apple-logo > a,
header ul.menu > li.search-starter > a,
header ul.menu > li.basket-starter > a {
  width: 14px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center 13px;
}
header ul.menu > li.apple-logo > a {
  background-image: url("../images/header_apple.svg");
}
header ul.menu > li.search-starter > a {
  background-image: url("../images/header_search.svg");
}
header ul.menu > li.basket-starter > a {
  background-image: url("../images/header_bag.svg");
}
header ul.menu > li:hover > a {
  text-decoration: underline;
}

/* Header / Menu / Basket */
header .basket {
  width: 290px;
  padding: 10px 20px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--color-white);
  position: absolute;
  top: calc(100% + 4px);
  right: -6px;
  transition: .4s;
  visibility: hidden;
  opacity: 0;
}
header .basket.show {
  visibility: visible;
  opacity: 1;
}
header .basket .arrow {
  width: 20px;
  height: 10px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: 12px;
}
header .basket .arrow::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  transform: rotate(45deg);
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 50%;
}
header .basket .message {
  padding: 30px 0;
  font-size: 13px;
  color: var(--color-font-darkgray);
  text-align: center;
}
header .basket ul {
  margin-top: 10px;
}
header .basket ul li {
  border-top: 1px solid var(--color-border);
}
header .basket ul li a {
  display: block;
  padding: 14px;
  font-size: 13px;
  color: var(--color-link);
}
header .basket ul li a:hover {
  text-decoration: underline;
}

/* Header / Search */
header .search-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .4s;
  visibility: hidden;
  opacity: 0;
}
header .search {
  max-width: 680px;
  margin: 0 auto;
  position: relative;
}
header .search .shadow {
  width: 100%;
  height: 100%;
  background-color: var(--color-shadow);
  position: fixed;
  top: 0;
  left: 0;
}
header .search .textfield {
  position: relative;
}
header .search input {
  width: 100%;
  height: var(--header-height);
  padding: 0 40px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 17px;
  color: var(--color-white);
}
header .search .search-icon {
  width: 40px;
  height: var(--header-height);
  background-image: url("../images/header_search.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: .4;
  position: absolute;
  top: 0;
  left: 0;
}
header .search .search-closer {
  width: 40px;
  height: var(--header-height);
  background-image: url("../images/header_close.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: .4;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
header .search .search-closer:hover {
  opacity: 1;
}
header .search .search-canceler {
  display: none;
}
header .search .autocompletes {
  width: 100%;
  padding: 26px 40px 20px;
  border-radius: 0 0 18px 18px;
  box-sizing: border-box;
  background-color: var(--color-white);
  position: absolute;
  top: var(--header-height);
  left: 0;
}
header .search .autocompletes h3 {
  font-size: 12px;
  color: var(--color-font-darkgray);
  margin-top: 12px;
}
header .search .autocompletes ul li a {
  display: block;
  margin: 0 -14px;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  cursor: pointer;
}
header .search .autocompletes ul li:hover a {
  background-color: var(--color-section);
  color: var(--color-link);
}
header .clone-menu {
  display: none;
}

/* Search Animation */
/* 스타일을 한 번에 지정 */
header .search input,
header .search .search-icon,
header .search .autocompletes h3,
header .search .autocompletes li {
  transition: .6s;
  transform: translate(100px, 0);
}
header.searching ul.menu > li {
  transform: scale(.7);
  opacity: 0;
}
header.searching .search-wrap {
  transition-delay: .2s;
  opacity: 1;
  visibility: visible;
}
header.searching .search input,
header.searching .search .search-icon,
header.searching .search .autocompletes h3,
header.searching .search .autocompletes li {
  transition-delay: .2s;
  transform: translate(0, 0);
}

@media (max-width: 1000px) {
  header .inner {
    padding: 0 10px;
  }
}

@media (max-width: 740px) {
  /* Header 전체 배경 */
  header::before {
    content: "";
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--color-header);
    transition: .4s;
  }
  header ul.menu > li {
    display: none;
  }
  header ul.menu > li.menu-starter,
  header ul.menu > li.apple-logo,
  header ul.menu > li.basket-starter {
    display: flex;
  }
  header ul.menu > li.menu-starter span {
    display: block;
    width: 15px;
    height: 1px;
    background-color: var(--color-white);
    margin-bottom: 6px;
    transition: .4s;
  }
  header ul.menu > li.menu-starter span:last-child {
    margin-bottom: 0;
  }
  header .search-wrap {
    padding: 0 20px 14px;
    border-bottom: 1px solid var(--color-header);
    box-sizing: border-box;
    top: var(--header-height);
  }
  header .search {
    max-width: 590px;
  }
  header .search .shadow {
    display: none;
  }
  header .search .textfield {
    border-radius: 10px;
    background-color: #1D1D1D;
    width: 100%;
    transition: .2s;
  }
  header .search .search-closer {
    display: none;
  }
  header .search .search-canceler {
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
    color: var(--color-link);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transition: .4s;
    visibility: hidden;
    opacity: 0;
  }
  header .search input,
  header .search .search-icon,
  header .search .autocompletes h3,
  header .search .autocompletes li {
    transform: translate(0, 0);
  }
  header .search .autocompletes {
    top: 58px;
    padding: 26px 0 20px;
    background-color: transparent;
    transition: .3s;
    transform: translate(0, -100px);
    visibility: hidden;
    opacity: 0;
  }
  header .search .autocompletes ul li {
    border-bottom: 1px solid var(--color-header);
  }
  header .search .autocompletes ul li:last-child {
    border-bottom: none;
  }
  header .search .autocompletes ul li a {
    padding: 16px 0 16px 16px;
    color: var(--color-font-middlegray);
  }
  header .search .autocompletes ul li:hover a {
    background-color: transparent;
    color: var(--color-link);
  }
  header .clone-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 103px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    transition: .4s;
    transform: translate(0, -50px);
  }
  header .clone-menu ul {
    max-width: 590px;
    margin: 4px auto;
  }
  header .clone-menu ul li {
    border-bottom: 1px solid var(--color-header);
  }
  header .clone-menu ul li:last-child {
    border-bottom: none;
  }
  header .clone-menu ul li a {
    display: block;
    padding: 16px 0;
    color: var(--color-font-middlegray);
    font-size: 14px;
  }
  header .clone-menu ul li:hover a {
    color: var(--color-white);
  }
  header.menuing {
    background-color: var(--color-black);
  }
  header.menuing::before {
    height: 100vh;
    background-color: var(--color-black);
  }
  header.menuing ul.menu > li.menu-starter span:first-child {
    transform: translate(0, 3.5px) rotate(45deg);
  }
  header.menuing ul.menu > li.menu-starter span:last-child {
    transform: translate(0, -3.5px) rotate(-45deg);
  }
  header.menuing .search-wrap {
    opacity: 1;
    visibility: visible;
  }
  header.menuing .clone-menu {
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
  }
  header.menuing.searching--mobile {
    transform: translate(0, -30px);
  }
  header.menuing.searching--mobile .search .textfield {
    width: calc(100% - 55px);
  }
  header.menuing.searching--mobile .search .autocompletes {
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
  }
  header.menuing.searching--mobile .search .search-canceler {
    visibility: visible;
    opacity: 1;
  }
  header.menuing.searching--mobile .clone-menu {
    transform: translate(0, 100px);
    visibility: hidden;
    opacity: 0;
  }
}


/* Navigation */
nav {
  --nav-height: 52px;
  border-bottom: 1px solid var(--color-border);
  background-color: rgba(255, 255, 255, .7);
  backdrop-filter: blur(20px);
  position: sticky;
  top: 0;
  z-index: 8;
}
nav .inner {
  max-width: 1000px;
  height: var(--nav-height);
  display: flex;
  align-items: center;
}
nav h1 {
  flex-grow: 1;
  font-size: 22px;
  font-weight: 500;
}
nav .menu {
  display: flex;
  gap: 12px;
  margin-right: 18px;
}
nav .menu li a {
  display: block;
  padding: 6px;
  font-size: 11px;
}
nav .menu li.active a {
  opacity: .5;
  cursor: default;
}
nav .menu li:hover a {
  color: var(--color-link);
}
nav .menu li.active:hover a {
  color: var(--color-font);
}

@media (max-width: 740px) {
  nav .shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-shadow);
    visibility: hidden;
    opacity: 0;
    transition: .4s;
  }
  nav .contents-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-white);
    visibility: hidden;
    transition: .4s;
  }
  nav .menu-toggler {
    position: relative;
    width: 30px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
  }
  nav .menu-toggler::before,
  nav .menu-toggler::after {
    content: "";
    display: block;
    width: 11px;
    height: 1px;
    background-color: var(--color-font-darkgray);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: .4s;
  }
  nav .menu-toggler::before {
    transform: rotate(40deg);
    left: -9px;
  }
  nav .menu-toggler::after {
    transform: rotate(-40deg);
    right: -9px;
  }
  nav .menu {
    position: absolute;
    top: var(--nav-height);
    left: 0;
    width: 100%;
    padding: 10px 40px 30px;
    box-sizing: border-box;
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translate(0, -50px);
    transition: .4s;
  }
  nav .menu li {
    border-bottom: 1px solid var(--color-border);
  }
  nav .menu li:last-child {
    border-bottom: none;
  }
  nav .menu li a {
    padding: 16px 0;
    font-size: 14px;
  }
  nav.menuing .shadow {
    visibility: visible;
    opacity: 1;
  }
  nav.menuing .contents-bg {
    visibility: visible;
    height: 232px;
  }
  nav.menuing .menu {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
  nav.menuing .menu-toggler::before {
    transform: rotate(-40deg);
  }
  nav.menuing .menu-toggler::after {
    transform: rotate(40deg);
  }
}


/* Promotion */
.promotion {
  height: 450px;
  background-color: #f6f5ef;
  position: relative;
  overflow: hidden;
  transition: height .4s;
}
.promotion.hide {
  height: 0;
}
.promotion .swiper-container {
  /* 819px 슬라이드 3개와 그 사이 여백 10px씩 = 2477px */
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}
.promotion .swiper-slide {
  position: relative;
  opacity: .5;
  transition: opacity 1s;
}
.promotion .swiper-slide-active {
  opacity: 1;
}
.promotion .swiper-slide .btn__square {
  /*width: 130px;*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 0;
}
.promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 13px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}
.promotion .swiper-prev,
.promotion .swiper-next {
  width: 42px;
  height: 42px;
  outline: none;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  /* Swiper Container 높이의 절반만큼 끌어올림 */
  /* 버튼 높이의 절반만큼 추가로 끌어올림 */
  top: 300px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}
.promotion .swiper-prev:hover,
.promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}



/* Main wrapper */
.main {
  box-sizing: border-box;
  border-top: 2px solid #D6D6D6;
  width: 1000px;
  margin: 0 auto;
  margin-top: 90px;
}
.main .display-intro {
  box-sizing: border-box;
  padding: 20px;
}
.main .display-intro p {
  text-align: center;
  line-height: 1.7;
}
.main .display-main-text {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 25px;
  font-weight: 700;
}
.highlight {
  color: #03CF5D;
}

.main .category {
  display: flex;
  justify-content: center;
  border-radius: inherit;
  margin: 30px;
}
.main .category li {
  border-radius: 5px;
  display: block;
  background-color: #e5e5e5;
  margin : 0 20px;
  padding: 10px;
  text-align: center;
}
.main .category li a {
  display: block;
  width: 50px;
}
.main .content-wraper {
  /* height: 500px; */
  padding: 40px 0 80px 0;
}
.main .content-wraper .content-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  padding: 0 10px;
  display: block;
  width: 230px;
  height: 275px;
}
.card a {
  height: 265px;
}
.card-image {
  display: block;
  height: 125px;
  border-radius: 7px;
}

.card-tags {
  display: flex;
  height: 25px;
  margin: 10px 10px 10px 0px;
}
.card-tag {
  border-radius: 3px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  font-size: 11px;
  padding: 6px;
  margin-right: 10px;
  text-align: center;
  color: #6e6e73;
}
.card-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-title { 
  line-height: 1.3;
  margin-top: 10px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-content {
  margin-top: 8px;
  font-size: 11px;
  color: #9b9ba0;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.temp {
  border: 1px solid black;
}